<mat-expansion-panel>
    <mat-expansion-panel-header>
        Probability and Statistics
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <h1>Visualizing Data</h1>
    <h2><u>One-way data</u></h2>
    <blockquote>
        <p>
            One-way data, in comparison to two-way data, contains a
            single individual, that has properties (variables) attached
            to it.
        </p>
        <p>
            Individuals are items in a data set and can be cases, things,
            people, etc.
        </p>
        <p>
            Variables are properties that describe individuals.
            Variables can be categorical or quantitative:
        </p>
        <ul>
            <li>Categorical variables are non-numerical values</li>
            <li>Quantitative variables are numerical values</li>
        </ul>
        <p>
            Together, <strong>individuals</strong> and
            <strong>variables</strong> are called
            <strong>data</strong>.<br>
        </p>
    </blockquote>
    <h2><u>Bar graphs and pie charts</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/BarGraph.png">
        <p>
            Bar graphs are best for representing data that isn't
            connected, more categorical data.
        </p>
        <img src="./../../../assets/img/misc/HorizontalBarGraph.png">
        <p>
            For horizontal bar graphs, it's common to put in
            descending order.
        </p>
        <img src="./../../../assets/img/misc/PieChart.png">
        <p>
            Pie charts are best for when comparing parts of a whole.
        </p>
    </blockquote>
    <h2><u>Line graphs and ogives</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/LineGraph.png">
        <p>
            Line graphs are best for representing change over time,
            so we can see how a variable moves up or down, and we can
            see the rate of change between two data points.
        </p>
        <img src="./../../../assets/img/misc/Ogive.png">
        <p>
            Ogives are best for when you want to show an accumulated total,
            you can see rate of change between each data point as well as
            the accumulated total over time.
        </p>
    </blockquote>
    <h2><u>Two-way data</u></h2>
    <blockquote>
        <p>
            Data that is dependent on more than one individual.
        </p>
        <p>
            We talk about two-way data in terms of independent and
            dependent variables.
        </p>
        <ul>
            <li>Independent variables are individuals such as cases,
                things, people, etc</li>
            <li>Dependent variables are variables that describe
                independent variables
            </li>
        </ul>
        <p>
            In one-way data, we have one independent variable
            (individual) and one or more dependent variables (variables).
        </p>
    </blockquote>
    <h2><u>Venn diagrams</u></h2>
    <img src="./../../../assets/img/misc/VennDiagram.jpg">
    <blockquote>
        <p>
            Two-way data can be represented as a venn diagram.
        </p>
    </blockquote>
    <h2><u>Frequency tables and dot plots</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/FrequencyTable.png">
        <p>
            Frequency tables display how frequently or infrequently
            something occurs.
        </p>
        <img src="./../../../assets/img/misc/DotPlot.jpg">
        <p>
            Dot plots can be used to display frequency of small data
            sets.
        </p>
    </blockquote>
    <h2><u>Relative frequency tables</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/RelativeFrequencyTable.png">
        <p>
            Relative frequency tables are tables that display
            percentages instead of actual counts.
        </p>
        <img src="./../../../assets/img/misc/RelativeFrequencyTotals.jpg">
        <p>
            Column-relative frequency and row-relative frequency are
            tables in which the summation of the total column or
            total row equates to 1.
        </p>
        <img src="./../../../assets/img/misc/TotalRelativeFrequencyTable.jpg">
        <p>
            Total relative frequency tables are calculated for a
            two-way table by dividing every cell by the grand total.
        </p>
    </blockquote>
    <h2><u>Joint distributions</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/JointDistribution.png">
        <p>
            Joint distribution tables contain percentages comparing
            one data set to another.
        </p>
        <img src="./../../../assets/img/misc/MarginalDistribution.jpg">
        <p>
            Marginal distribution is the total column or total row
            in a joint distribution.
        </p>
        <img src="./../../../assets/img/misc/ConditionalDistribution.jpg">
        <p>
            Conditional distribution is the distribution of one
            variable, given the particular value of another variable.
        </p>
    </blockquote>
    <h2><u>Histograms and stem-and-leaf plots</u></h2>
    <blockquote>
        <img src="./../../../assets/img/misc/Histogram.png">
        <p>
            A histogram, AKA a frequency histogram, is just like
            a bar graph, except we collect the data into buckets
            and then sketch a bar for each bucket.
        </p>
        <p>
            The way the data is spread out is called a distribution.<br>
            As a general rule, qualitative data is usually better for
            a bar graph and quantitative data is usually better in a
            histogram.
        </p>
        <img src="./../../../assets/img/misc/StemPlot.jpg">
        <p>
            A stem-and-leaf plot, AKA stem plot, is just another way
            to summarize data.
        </p>
    </blockquote>
</mat-expansion-panel>