<div class="promo">
  <div class="promo-row">
    <div class="promo-icon">
      <mat-icon>chevron_left</mat-icon>
      <mat-icon>directions_run</mat-icon>
      <mat-icon>timeline</mat-icon>
      <mat-icon>mood</mat-icon>
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="promo-desc">
      <h2>
        Problem-driven
      </h2>
      <p>
        I'm driven by problems; I become obsessed with solving them and I often
        find myself pondering about solutions or meaning. This main principle
        is why I love computer science and coding.
      </p>
    </div>
  </div>
  <div class="promo-row reverse">
    <div class="promo-icon">
      <mat-icon>chevron_left</mat-icon>
      <mat-icon>public</mat-icon>
      <mat-icon>share</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="promo-desc">
      <h2>
        Passion with Compassion
      </h2>
      <p>
        My motive is to be useful and resourceful. I aim to never stop learning
        and never stop growing as a computer scientist. I'm fueling my passion
        which simultaneously drives my compassion with actions.
      </p>
      <p>
        <i>
          "The effect you have on others is the most valuable currency there is."
        </i>
      </p>
    </div>
  </div>
</div>
