<mat-toolbar class="mat-elevation-z6" color="primary">
  <a routerLink="/" routerLinkActive="active" class="home-button" mat-button>
    <img [src]="logoPath" class="icon-logo"> PayaamE
  </a>
  <a routerLink="/resume" routerLinkActive="active" mat-button>Resume</a>
  <span class="flex-spacer"></span>
  <a mat-button [href]="twitterUrl">
    <mat-icon svgIcon="twitter-logo" class="icon-logo"></mat-icon>
    <span class="social-label"> Twitter</span>
  </a>
  <a mat-button [href]="githubUrl">
    <img [src]="githubPath">
    <span class="social-label"> GitHub</span>
  </a>
</mat-toolbar>
