<mat-expansion-panel>
    <mat-expansion-panel-header>
        C#
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <h1>Strings</h1>
    <h2><u>String Interpolation</u></h2>
    <blockquote>
        <p>
            The $ character identifies a string literal as an interpolated
            string.
        </p>
        <ul>
            <li>Literal string: "I like to eat pizza"</li>
            <li>Interpolated string: $"I like to eat {{'{'}}food{{'}'}}"</li>
        </ul>
    </blockquote>
    <h2><u>Whitespace</u></h2>
    <blockquote>
        <p>
            Use the Trim() method to remove unwanted leading and trailing
            whitespace.
        </p>
        <ul>
            <li>
                TrimStart() can be used for leading whitespace and
                TrimEnd() can be used for trailing whitespace
            </li>
        </ul>
    </blockquote>
    <h2><u>Replace</u></h2>
    <blockquote>
        <p>
            Replace() can be used to replace substrings within a given string.
        </p>
        <ul>
            <li>food.Replace("pizza", "pasta")</li>
        </ul>
    </blockquote>
    <h2><u>Capitalization</u></h2>
    <blockquote>
        <p>
            ToUpper() and ToLower() are useful methods for making a string
            ALL CAPS or all lower case.
        </p>
        <ul>
            <li>food.ToUpper() // PIZZA</li>
            <li>food.ToLower() // pizza</li>
        </ul>
        <p>
            Note: these methods return a copy and won't change the
            original value in the string.
        </p>
    </blockquote>
    <h2><u>Searching strings</u></h2>
    <blockquote>
        <p>
            The Contains() method returns a boolean value which tells you if
            the string you were searching for was found.
        </p>
        <ul>
            <li>
                songLyrics.Contains("Scaramouche, will you do the
                Fandango?")
            </li>
        </ul>
        <p>
            StartsWith() and EndsWith() search for substrings at the
            beginning and ending respectively.
        </p>
    </blockquote>
</mat-expansion-panel>