<app-page-header title="Notes"></app-page-header>
<p>
  Welcome to my public notebook.
</p>
<p>
  It is a forever work in progress, centralized location to store notes
  on various topics that I am studying.
</p>
<p>
  I use it for a quick reference, as well as an additional method to retain
  information that I study.
</p>
<p>
  This notebook is more for me than it is for you.
</p>
<div class="accordion-wrapper">
  <mat-accordion>
    <app-notes-data-structures></app-notes-data-structures>
    <app-notes-prob-and-stats></app-notes-prob-and-stats>
    <app-notes-dot-net></app-notes-dot-net>
    <app-notes-c-sharp></app-notes-c-sharp>
  </mat-accordion>
</div>