mat-expansion-panel {
  margin: 15px;
}

img {
  width: 50%;
  height: 50%;
}

@media (max-width: 720px) {
  mat-expansion-panel {
    margin: 0px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
