<mat-expansion-panel>
  <mat-expansion-panel-header>
    .NET
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>
  <h1>.NET</h1>
  <h2><span class="underline">What is .NET?</span></h2>
  <p class="indent">
    .NET is an open source developer platform for building different
    types of apps.
  </p>
  <ul class="indent">
    <li>A developer platform are the languages and libraries
      used together
    </li>
  </ul>
  <p class="indent">
    .NET languages:
  </p>
  <ul class="indent">
    <li>C#</li>
    <li>Visual Basic</li>
    <li>F#</li>
  </ul>
  <p class="indent">
    .NET platforms:
  </p>
  <ul class="indent">
    <li>.NET Core: (runs anywhere) Windows, Linux, and macOS</li>
    <li>.NET Framework: websites, services, and apps on Windows</li>
    <li>Xamarin/Mono: a .NET for mobile</li>
    <li>.NET Standard: the shared set of libraries for the above platforms</li>
  </ul>

  <h2><span class="underline">What can I build with .NET?</span></h2>

  <p class="indent">
    Web
  </p>
  <ul class="indent">
    <li>Web apps and services for Windows, Linux, macOS, and
      Docker
    </li>
  </ul>
  <p class="indent">
    Desktop
  </p>
  <ul class="indent">
    <li>Desktop apps for Windows and macOS</li>
  </ul>
  <p class="indent">
    Gaming
  </p>
  <ul class="indent">
    <li>2D and 3D games for desktops, phones, and consoles</li>
  </ul>
  <p class="indent">
    Cloud
  </p>
  <ul class="indent">
    <li>
      Consume existing cloud services, or create and deploy your
      own
    </li>
  </ul>
  <p class="indent">
    Mobile
  </p>
  <ul class="indent">
    <li>Native mobile apps for iOS, Android, and Windows</li>
  </ul>
  <p class="indent">
    Microservices
  </p>
  <ul class="indent">
    <li>
      Independently deployable microservices that run on Docker
      containers
    </li>
  </ul>
  <p class="indent">
    Machine Learning
  </p>
  <ul class="indent">
    <li>
      Vision algorithms, speech processing, predictive models, and
      more to your apps
    </li>
  </ul>
  <p class="indent">
    Internet of Things
  </p>
  <ul class="indent">
    <li>
      IoT apps, with native support for the Raspberry Pi and other
      single-board computers
    </li>
  </ul>
  <h1>C#</h1>
  <h2><span class="underline"></span></h2>
  <p class="indent">
    C# is an object-oriented and type-safe programming language.
  </p>
  <p class="indent">
    Several C# features aid in the construction of robust and
    durable applications:
  </p>
  <ul class="indent">
    <li>
      Garbage collection automatically reclaims memory occupied by
      unreachable unused objects
    </li>
    <li>
      Exception handling provides a structured and extensible
      approach to error detection and recovery
    </li>
    <li>
      Type-safe design of the language makes it impossible to read
      from uninitialized variables, to index arrays beyond their
      bounds, or to perform unchecked type casts
    </li>
  </ul>
  <p class="indent">
    C# has a unified type system. All C# types inherit from a single
    root 'object' type. Thus, all types share a set of common
    operations, and values of any type can be stored, transported, and
    operated upon in a consistent manner.
  </p>
  <p class="indent">
    C# supports both user-defined reference types and value types,
    allowing dynamic allocation of objects as well as in-line storage
    of lightweight structures.
  </p>
  <h1>.NET Core</h1>
  <h2><span class="underline"></span></h2>
  <p class="indent">
  </p>
  <h1>ASP.NET</h1>
  <h2><span class="underline"></span></h2>
  <p class="indent">
  </p>
  <h1>Entity Framework Core</h1>
  <h2><span class="underline"></span></h2>
  <p class="indent">
  </p>
  <h1>ML.NET</h1>
  <h2><span class="underline"></span></h2>
  <p class="indent">
  </p>
</mat-expansion-panel>