<app-page-header title="Resume"></app-page-header>
<div class="card-wrapper">
  <mat-card>
    <mat-card-title>
      Payaam Emami
    </mat-card-title>
    <mat-card-subtitle>
      <a href="mailto:conact@payaame.com">contact@payaame.com</a>
    </mat-card-subtitle>
    <mat-card-content>
      <h2>Skills</h2>
      <ul>
        <li>C#</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>.NET Core/Framework</li>
        <li>Angular</li>
        <li>Git</li>
        <li>Unit/Integration Testing</li>
        <li>AWS</li>
        <li>Azure</li>
      </ul>
      <h2>Experience</h2>
      <ul>
        <li>
          <h3>Junior Programmer</h3>
        </li>
        <ul>
          <li>
            Created a class library project used daily to synchronize data from a
            private third party API to a SQL Server database
          </li>
          <li>
            Contributed on developing a CRM application, generating reports on
            members using ASP.NET MVC, C#, and Vue.js
          </li>
        </ul>
        <li>
          <h3>Web Developer Intern</h3>
        </li>
        <ul>
          <li>
            Worked on the integrations team consuming third party REST APIs
          </li>
          <li>
            Collaborated with senior developers using Git, Atlassian JIRA and
            Confluence to manage projects
          </li>
          <li>
            Tested applications for quality assurance using Microsoft Test Manager
          </li>
        </ul>
        <li>
          <h3>Software Developer Intern</h3>
        </li>
        <ul>
          <li>
            Worked on an internship project web application using Ruby and Ruby
            on Rails in Linux OS
          </li>
        </ul>
      </ul>
      <h2>Projects</h2>
      <ul>
        <li>
          <h3>
            WatBott
          </h3>
        </li>
        <ul>
          <li>AI assistant for Twitch using Node, Express, MySQL, & Angular</li>
          <li>Free & open source: <a [href]="watbottRepoUrl" target="_blank">GitHub Repo</a></li>
        </ul>
      </ul>
      <h2>Education</h2>
      <ul>
        <li>
          <h3>Bachelor's Degree, Computer Science</h3>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
