<app-page-header title="Resume"></app-page-header>
<div class="card-wrapper">
  <mat-card>
    <mat-card-title>
      Payaam Emami
    </mat-card-title>
    <mat-card-subtitle>
      <a href="mailto:conact@payaame.com">contact@payaame.com</a>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="column-wrapper">
        <div class="column-one">
          <h2>PROJECTS</h2>
          <ul>
            <li>
              <h3>
                WatBott - <i>AI Assistant Chatbot</i>
              </h3>
            </li>
            <ul>
              <li>Open source project built with Node, Express, MySQL, and Angular utilizing AI with Watson Assistant
              </li>
              <li>Check it out on <a [href]="watbottRepoUrl" target="_blank">GitHub</a>!</li>
            </ul>
          </ul>
          <h2>EXPERIENCE</h2>
          <ul>
            <li>
              <h3>Junior Programmer</h3>
            </li>
            <ul>
              <li>
                Created a class library project used daily to synchronize data across
                different systems which in turn decreased call center issues
              </li>
              <li>
                Contributed on developing a CRM application that generated reports
                on members using ASP.NET MVC, C#, and Vue.js
              </li>
            </ul>
            <li>
              <h3>Web Developer Intern</h3>
            </li>
            <ul>
              <li>
                Consumed third party REST APIs using C#, .NET Framework, and Visual Studios
              </li>
              <li>
                Collaborated with senior developers using Git, Atlassian JIRA and
                Atlassian Confluence to manage projects
              </li>
              <li>
                Tested applications for quality assurance using Microsoft Test Manager
              </li>
            </ul>
            <li>
              <h3>Software Developer Intern</h3>
            </li>
            <ul>
              <li>
                Worked on an internship project web application using Ruby and Ruby
                on Rails in Linux OS
              </li>
              <li>
                Practiced processes, patterns, and principles such as TDD, MVC, & DRY
              </li>
              <li>
                Collaborated with colleagues using Scrum Agile Development and MoSCoW
              </li>
            </ul>
          </ul>
          <h2>EDUCATION</h2>
          <ul>
            <li>
              <h3>B.S. Computer Science</h3>
            </li>
          </ul>
        </div>
        <div class="column-two">
          <h2>SKILLS</h2>
          <ul class="skills-list" style="list-style: none">
            <li>C#</li>
            <li>.NET</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Git</li>
            <li>AWS</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>