<app-page-header title="Resume"></app-page-header>
<mat-card>
  <mat-card-title>
    Payaam Emami
  </mat-card-title>
  <mat-card-subtitle>
    <a href="mailto:conact@payaame.com">contact@payaame.com</a>
  </mat-card-subtitle>
  <mat-card-content>
    <h2>Languages</h2>
    <ul>
      <li>C#</li>
      <li>SQL</li>
      <li>JavaScript</li>
    </ul>
    <h2>Technologies</h2>
    <ul>
      <li>.NET</li>
      <li>SSMS</li>
      <li>Git</li>
    </ul>
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Junior Programmer - Company C</h3>
      </li>
      <ul>
        <li>
          Created a class library project used to synchronize data on a daily basis
          from a private third party API to a SQL Server database
        </li>
        <li>
          Contributed on developing a CRM application, more specifically to
          generate reports on members using technologies such as C#,
          ASP.NET MVC, and Vue.js
        </li>
        <li>
          Applied unit and integration testing, dependency injection for loosely
          coupled classes, and frameworks such as: Ninject, Dapper, and Moq
        </li>
      </ul>
      <li>
        <h3>Web Developer Intern - Company B</h3>
      </li>
      <ul>
        <li>
          Worked on the Integrations team integrating third party APIs using C#
          and ASP.NET in Visual Studios
        </li>
        <li>
          Collaborated with senior developers using Git, Atlassian JIRA, and
          Atlassian Confluence to manage projects
        </li>
        <li>
          Tested applications for quality assurance using Microsoft Test Manager
        </li>
      </ul>
      <li>
        <h3>Software Developer Intern - Company A</h3>
      </li>
      <ul>
        <li>
          Worked on a web application for medical field using Ruby and Ruby
          on Rails in Linux OS
        </li>
        <li>
          Practiced processes, patterns, and principles such as TDD, MVC, & DRY
        </li>
        <li>
          Collaborated with colleagues using Scrum Agile Development and MoSCoW
        </li>
      </ul>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>
        <h3>
          WatBott - Virtual assistant for Twitch chat
        </h3>
      </li>
      <ul>
        <li>Virtual assistant powered by IBM Watson using Node.js, Express, Angular</li>
        <li>I believe that this is the next step forward in innovation for Twitch <del>Chatbots</del> Virtual assistants</li>
        <li>This is my current project, 100% free 100% open source</li>
        <li><a href="https://github.com/PayaamEmami/watbott" target="_blank">GitHub Repo</a></li>
      </ul>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>
        <h3>Bachelor's Degree, Computer Science - University A</h3>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
