mat-card {
  margin: 15px 15px;
  max-width: 720px;
}

.skills-list {
  padding: 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.column-wrapper {
  display: flex;
}

.column-one {
  flex: 2;
}

.column-two {
  flex: 1;
  margin: 0 15px;
}

h1,
h3,
h4 {
  font-weight: 500;
  line-height: 18px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

@media (max-width: 720px) {
  .column-wrapper {
    flex-direction: column-reverse;
  }

  .column-two {
    margin: 0;
  }
}
